.browse {
  height: 1700px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../images/caveRiver.JPG);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/caveRiver.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.browse .browseContainer {
  height: 300px;
  width: 500px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 50px;
  border-radius: 15px;
}
.browse .browseContainer .browseImage1 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/doghillEntrance.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage2 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/caveCrawl.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage3 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/rimstoneClimb.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage4 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/caveRiver2.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage5 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/hugeFormations.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage6 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/waterCrawl.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage7 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/smallCrawl.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage8 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/beginningBathtub.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage9 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/markInBathtub.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseImage10 {
  height: 200px;
  width: 200px;
  border-radius: 5%;
  background-image: url(../images/nopeRope.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.browse .browseContainer .browseContentContainer {
  height: 150px;
  width: 200px;
  background-color: aliceblue;
}
.browse .browseContainer .browseContentContainer .browseContent1 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
  background-color: aqua;
}
.browse .browseContainer .browseContentContainer .browseContent2 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent3 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent4 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent5 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent6 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent7 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent8 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent9 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}
.browse .browseContainer .browseContentContainer .browseContent10 {
  color: white;
  font-size: 12px;
  font-family: Inconsolata;
}