.browse{
    height: 1700px;
    width: 100%;
    background-image: linear-gradient(rgb(0, 0, 0,.6),rgb(0, 0, 0,.6)), url(../images/caveRiver.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    .browseContainer{
        height: 300px;
        width: 500px;
        background-color:black;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 50px;
        border-radius: 15px;
        .browseImage1{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/doghillEntrance.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage2{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/caveCrawl.jpeg);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage3{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/rimstoneClimb.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage4{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/caveRiver2.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage5{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/hugeFormations.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage6{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/waterCrawl.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage7{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/smallCrawl.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage8{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/beginningBathtub.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage9{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/markInBathtub.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseImage10{
            height: 200px;
            width: 200px;
            // background-color: aqua;
            border-radius: 5%;
            background-image: url(../images/nopeRope.JPG);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .browseContentContainer {
            height: 200px;
            width:200px;
            // background-color:aliceblue;
            .browseContent1{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
                // background-color: aqua;
            }
            .browseContent2{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent3{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent4{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent5{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent6{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent7{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent8{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent9{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
            .browseContent10{
                color: white;
                font-size: 12px;
                font-family: Inconsolata;
            }
        }
    }
}
.buttonHolder{
    display: flex;
    .button{
        margin-top: 30px;
        margin-left:20px;
    }
}
.button{
    background-color: white;
    font-size: 12px;
    border-radius: 30px;
    cursor: pointer;
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view{
    display: none;
}

.browseImage1:hover .view{
    display: flex;
}
.browseImage2:hover .view{
    display: flex;
}
.browseImage3:hover .view{
    display: flex;
}
.browseImage4:hover .view{
    display: flex;
}
.browseImage5:hover .view{
    display: flex;
}
.browseImage6:hover .view{
    display: flex;
}
.browseImage7:hover .view{
    display: flex;
}
.browseImage8:hover .view{
    display: flex;
}
.browseImage9:hover .view{
    display: flex;
}
.browseImage10:hover .view{
    display: flex;
}

@media screen and (max-width:960px){
    .browse{
        height: 3500px;
    }

    .browseImage1 .view{
        display: flex;
    }
    .browseImage2 .view{
        display: flex;
    }
    .browseImage3 .view{
        display: flex;
    }
    .browseImage4 .view{
        display: flex;
    }
    .browseImage5 .view{
        display: flex;
    }
    .browseImage6 .view{
        display: flex;
    }
    .browseImage7 .view{
        display: flex;
    }
    .browseImage8 .view{
        display: flex;
    }
    .browseImage9 .view{
        display: flex;
    }
    .browseImage10 .view{
        display: flex;
    }

}

